.single-product h4,
.single-product h5 {
  letter-spacing: 0;
  margin: 0;
}

.single-product h5 {
  font-weight: 500;
  font-size: 2.6rem;
}

.single-product h4 {
  font-weight: 300;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.single-product .swiper-container {
  height: 60rem;
}

.single-product .swiper-container .Image,
.single-product .swiper-container .Image img {
  height: 55rem;
  object-fit: contain !important;
}

.single-product .Image.half {
  border: 1px solid #e5e5e5;
}

.single-product .divide {
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  margin: 2rem 0;
}

.single-product .downloads {
  width: calc(100% - 3rem);
}

.single-product .downloads a {
  display: inline;
  padding-left: 4rem;
  display: inherit;
  position: relative;
}

.single-product .downloads a:before {
  content: '';
  background: url('/images/download.svg');
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  position: absolute;
  display: block;
  left: 0;
}

.vimeo,
.youtube {
  margin: 4rem 0 2rem;
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

iframe,
object,
embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-slider {
  display: block;
}

.product-slider .swiper-container {
  border: 1px solid #e5e5e5;
}

.product-slider img.LazyImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.swiper-pagination-bullet-active {
  background: black !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: 47% !important;
  height: 6rem !important;
  width: 6rem !important;
  background-image: none !important;
}

.swiper-button-next {
  right: -2rem !important;
}

.swiper-button-prev {
  left: -2rem !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
  border-right: 2px solid black;
  border-top: 2px solid black;
  height: 1.2rem;
  width: 1.2rem;
  display: block;
}

.swiper-button-next:after {
  transform: rotate(45deg);
  margin: 23px 0 0 10px !important;
}

.swiper-button-prev:after {
  transform: rotate(225deg);
  margin: 23px 0 0 38px !important;
}

@media screen and (max-width: 550px) {
  .product-slider .swiper-container {
    height: 25rem;
  }
}
