.footer,
.footer a {
  color: white;
  font-weight: 100;
}

.footer {
  width: 100%;
  background: black;
}

.footer .top {
  padding: 4rem 0;
  line-height: 4rem;
}

.footer .top .wide {
  display: flex;
  justify-content: space-between;
}

.footer .bottom {
  font-size: 1.2rem;
  background: #202020;
  line-height: 0;
  padding: 2rem 0;
}
