:root {
  --primary: #35b9ff;
  --font-primary: 'Ubuntu', sans-serif;
  --font-secondary: 'Orbitron', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  font-family: var(--font-primary) !important;
  font-weight: 200;
  color: var(--secondary);
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: var(--primary);
}

p,
ul,
a {
  font-size: 1.4rem;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 1rem;
}

a.link {
  margin: 0 auto;
}

ul {
  padding: 0 0 0 2rem;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 150%;
}

h1,
h2 {
  max-width: 120rem;
  margin: auto;
  padding: 0 3rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
}

h1 {
  font-size: 6rem;
  color: white;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3rem;
  font-weight: 100;
  color: white;
}

h4 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  h1,
  h2 {
    font-size: 3rem;
  }
}

/* --- layout --- */

.clear {
  clear: both;
}

.white {
  background: white;
  color: black;
}

.black {
  background: black;
  color: white;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.taLeft {
  text-align: left;
}

.taRight {
  text-align: right;
}

.taCenter {
  text-align: center;
}

section {
  padding: 10rem 0;
}

.wide,
.thin {
  margin: auto;
  padding: 0 2rem;
}

.wide {
  max-width: 130rem;
}

.thin {
  max-width: 110rem;
}

.half {
  width: 47%;
}

.banner {
  background: black;
  padding: 8rem 0;
}

@media screen and (max-width: 400px) {
  .wide,
  .thin {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .flex {
    width: 100%;
    display: block;
  }

  .half {
    width: 100%;
    margin-bottom: 4rem;
  }

  .half:last-child {
    margin: 0;
  }

  section {
    padding: 5rem 0;
  }
}

/* button */

.button {
  background: black;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: auto;
  padding: 1.2rem 3.5rem;
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button:hover,
.button:focus {
  background: var(--primary);
  color: white;
}
