.image-slider .swiper-slide {
  height: 25rem !important;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  top: 12rem !important;
  height: 6rem !important;
  width: 6rem !important;
  border-radius: 4rem;
  background: rgba(255, 255, 255, 0.7);
  background-image: none !important;
}

.swiper-container .swiper-button-next {
  right: -3rem !important;
}

.swiper-container .swiper-button-prev {
  left: -3rem !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
  border-right: 2px solid black;
  border-top: 2px solid black;
  height: 1.2rem;
  width: 1.2rem;
  display: block;
}

.swiper-button-next:after {
  transform: rotate(45deg);
  margin: 23px 0 0 10px !important;
}

.swiper-button-prev:after {
  transform: rotate(225deg);
  margin: 23px 0 0 38px !important;
}
