.InstagramFeed {
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-top: 1px solid #000;
}

.InstagramFeed--EmptyPost {
  width: calc(100% / 8);
  padding: calc(50% / 8) 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease all;
}

.InstagramFeed--EmptyPost:hover {
  opacity: 0.8;
}

.InstagramFeed--EmptyPost:last-of-type:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/images/instagram.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1120px) {
  .InstagramFeed--EmptyPost {
    width: calc(100% / 4);
    padding: calc(50% / 4) 0;
  }
}

@media screen and (max-width: 500px) {
  .InstagramFeed--EmptyPost {
    width: calc(100% / 2);
    padding: calc(50% / 2) 0;
  }
}
