.logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 20rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .logo {
    height: 2rem;
    width: 15rem;
  }
}
