.pageHeader {
  background: black;
  color: white;
  padding: 10rem 0;
}

.pageHeader-large {
  padding: 26rem 0;
}

.pageHeader .BackgroundImage {
  opacity: 0.7;
}

@media (max-width: 700px) {
  .pageHeader {
    padding: 4rem 0;
  }

  .pageHeader-large {
    padding: 12rem 0;
  }
}
