a.product-card {
  width: 20%;
  height: 40rem;
  display: block;
}

.product-card img.LazyImage {
  transition: 0.5s all ease;
}

a.product-card:hover img.LazyImage {
  opacity: 0.6 !important;
}

a.product-card img.LazyImage {
  border: 1px solid #e5e5e5;
  object-fit: contain;
  height: 35rem;
  width: 100%;
}

a.product-card p {
  text-align: center;
  margin-top: 1rem;
}
