a.product-card {
  width: calc(100% / 4 - 2rem);
  height: auto;
  display: block;
  margin: 1rem 1rem 3rem 1rem;
}

.product-card img.LazyImage {
  transition: 0.5s all ease;
}

a.product-card:hover img.LazyImage {
  opacity: 0.6 !important;
}

a.product-card img.LazyImage {
  border: 1px solid #e5e5e5;
  object-fit: contain;
  height: 40rem;
  width: 100%;
}

a.product-card p {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1rem;
}

@media screen and (max-width: 950px) {
  a.product-card img.LazyImage {
    height: 28rem;
  }
}

@media screen and (max-width: 740px) {
  a.product-card {
    width: calc(100% / 2 - 2rem);
  }

  a.product-card img.LazyImage {
    height: 28rem;
  }
}

@media screen and (max-width: 480px) {
  a.product-card {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
